header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    font-style: bold;
    font-size: 24px;
    background-color: blueviolet;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        span{
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                    color: #eee;
                
            }}

        ul{
            list-style: none;
            li{
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                    color: #eee;
                }
            }
        }

    }

}